openapi: 3.0.4
info:
  title: URL Title
  description: >-
    URL Title is a simple tool for getting the title of a web page. It returns
    the title of the web page based on the URL provided.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/urltitle:
    post:
      summary: Get Title of Web Page
      description: Get the title of a web page based on the URL
      operationId: urltitle
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  title: >-
                    Chuck Norris API: How to Easily Add Jokes to Your App -
                    APIVerve Blog
                  h1:
                    - 'Chuck Norris API: How to Easily Add Jokes to Your App'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL of the web page to get the title of
              required:
                - url
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  url: https://blog.apiverve.com/chuck-norris-api-how-to
